html {
    margin: 0;
    padding: 0;
    background-color: rgb(198, 185, 175);
}

body {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
}

h1 {
    margin-left: 5%;
    color : white;
    font-size: 290%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h3 {
    margin-left: 6%;
    color : white;
    font-size: 120%;
    font-family: 'Montserrat', sans-serif;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.header {
    padding: 0;
    margin: 0;
    background-color: rgb(175,106, 77);
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    border-bottom: 29px solid rgb(224, 138, 103);
}

.main {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
}

#hub {
    position: fixed;
    height: 100%;
    width: 75px;
    background-color: rgb(242, 208, 196); 
    border-right: 5px solid rgb(119, 119, 119)
}

.section {
    margin-left: 80px;
    width: max-content;
    height: 100%;
}

#search {
    position: fixed;
    display: flex;
    align-items: center;
    width:100%;
    height: 80px;
    background-color: rgb(254, 183, 155);
}

.article {
    margin-top: 80px;
    position: fixed;
    width:100%;
    height: 100%;
    background-color: white;
}

.bar {
    position: fixed;
    font-size: 400%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    background: none;
    border: none
}

#searchButton {
    margin-left: 25px;;
    font-size: 340%;
    width: min-content;
    height: min-content;
    background:none;
    border-radius: 100%;
    border:none;
}

input::-webkit-input-placeholder {
    color: #000000; 
    font-family: 'Montserrat', sans-serif; 
    background: none;
    font-size: 120%;
}

form {
    display: flex;
    align-items: center;
}

#searchinp {
    border: none;
    color : black;
    width:350px;
    height:60px;
    background-color: rgb(242, 208, 196);
    margin-left: 10px;
    font-size: 120%;  
    font-family: 'Montserrat', sans-serif; 
}

h1:hover {
    cursor:default;
}

h3:hover {
    cursor:default;
}

input:hover {
    cursor:pointer;
}

button:hover {
    cursor: pointer;
}

h2:hover {
    cursor:default;
}

.title {
    margin-top: 20px;
    margin-left: 40px;
    height: max-content;
    width: auto;
    display: flex;
    align-items: center;

}

.Bpoint {
    min-width: 40px;
    max-height: 40px;
    width: 40px;
    height: 40px;
    border: 4px solid rgb(247, 126, 83);
    box-shadow: 0px 0px 0px 4px rgb(161, 78, 38);
    background-color: rgb(161, 78, 38);
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    color : rgb(190, 124, 128);
    font-size: 290%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

p {
    color:rgb(190, 124, 128);
    font-family: 'Montserrat';
    font-size: 175%;
}

.textBox {
    margin-top: 20px;
    margin-left:10px;
    height: min-content;
    width: 90%;
}

.content{
    width: 60%;
    height:500px;
    margin-bottom:30px;
    margin-left: 40px;
    position: relative;
}

#im1 {
    height: 100%;
    width: 100%;
    background-image: url("firstArticte.jpg"); 
    background-size: cover;
    border: 3px solid rgb(247, 126, 83);
}
